body{
    font-family: Poiret One;
    background: linear-gradient(135deg,#96c9f4, #f5cbff );
    color: white;
}

p{
    font-size: 1.2em;
}

a{
    text-decoration: none;
    color: inherit;
    transition: transform 200ms ease;
}

.bouton:hover{
    background-color: white;
    color: black;
    border: 3px solid #c6e4ff;
    transform: scale(1.03);
}

.bouton{
    display: flex;
    background-color: white;
    color: black;
    border: 3px solid #f2e0ff;
    border-radius: 15px;
    width: 150PX;
    text-align: center;
    padding:12px;
    transition: transform 0.2s ease;
}

/*NAVIGATION*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0%;
    color: black;
    padding-right: 1%;
}

#logo a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav p{
    margin: 0%;
}

nav img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    object-fit: contain;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
}

/*HEADER*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header img{
    height: 300px ;
    width: 500px;
    border-radius: 25px;
    object-fit: cover;
    border: 3px solid #75c9f5;
}

h1, header h3{
    margin: 0%;
}

header .desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
    width: 50vw;
    background-color: rgb(167, 136, 103);
    border-radius: 25px;
    border: 5px solid rgb(182, 151, 118);
}

main h3{
    display: flex;
    background-color: white;
    border-radius: 15px;
    font-size: 1.5em;
    border: 3px solid #f2e0ff;
    padding: 10px;
    margin: 20px;
    text-align: center;
    margin-top: 70px;
    color: black;
}

/*Prestations*/
#Presta, #Témoin, #Réal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#Presta .articles, #Témoin .articles{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
}

#Presta article{
    display: flex;
    width: 320px;
    align-items: center;
    flex-direction: column;
    background-color: rgb(167, 136, 103);
   border-radius: 25px;
    padding: 15px;
    color: rgb(255, 255, 255);
    text-align: justify;
    border: 5px solid rgb(182, 151, 118);
}

#Presta article img{
    width: 250px;
    height: 250px;
    object-fit: cover;
     border-radius: 25px;
    border: 5px solid rgb(182, 151, 118);
}

/*#Presta article:nth-child(1){
    background-color: rgb(12, 29, 49,0.5);
}

#Presta article:nth-child(2){
    background-color: rgb(76, 38, 65,0.5);
}

#Presta article:nth-child(3){
    background-color: rgb(14, 80, 81,0.5);
}*/
/*Slider*/

#slider{
    width: 80%;
}

figure{
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
}

/*Témoignage*/
#Témoin article{
    display: flex;
    background-color: white;
    border-radius:15px ;
    flex-direction: column;
    color: black;
    width: 400px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid #f2e0ff;
}

#Témoin img{
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 100%;
    border: 3px solid #f2e0ff;

}

.client{
    display: flex;
    flex-direction: row;
    margin: 10px;

}

.info p, .info h4{
    margin: 0;
}

.info{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
}

footer{
    background-color: white;
    color: black;
}

footer img{
    width: 40px;
    height: 40px;
    object-fit: contain;
}