body{
    font-family: Poiret One;
    background: linear-gradient(135deg,#cde8ff, #eed0f6 );
    color: white;
    margin: 0;
    box-sizing: border-box;
}

p{
    font-size: 1.2em;
}

a{
    text-decoration: none;
    color: inherit;
    transition: transform 200ms ease;
}

.bouton:hover{
    background-color: white;
    color: black;
    border: 3px solid #c6e4ff;
    transform: scale(1.03);
}

.bouton{
    display: flex;
    background-color: white;
    color: black;
    border: 3px solid #f2e0ff;
    border-radius: 15px;
    width: 150PX;
    text-align: center;
    padding:12px;
    transition: transform 0.2s ease;
    font-weight: bold;
}

/*NAVIGATION*/
nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 0px 0px 16px 16px;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    color: black;
    padding-right: 1%;
    margin-bottom: 2%;
    
}

#logo a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    width:100%;
}

nav p{
    margin: 0%;
}

nav img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    object-fit: contain;
}

nav #menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1vw;
}

/*HEADER*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header img{
    height: 300px ;
    width: 500px;
    border-radius: 25px;
    object-fit: cover;
    border: 3px solid #75c9f5;
}

h1, header h3{
    margin: 0%;
}

header .desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
    width: 50vw;
    background-color: rgb(167, 136, 103);
    border-radius: 25px;
    border: 5px solid rgb(182, 151, 118);
}

main h3{
    display: flex;
    background-color: rgba(255, 255, 255);
    border-radius: 100%;
    font-size: 1.9em;
    font-weight: bold;
    border: 3px solid #e0f3ff;
    padding: 25px;
    margin: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: black;
}

#Réal h3{
    
}

/*Prestations*/
#Presta, #Témoin, #Réal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#Presta .articles, #Témoin .articles{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
    margin-bottom: 20px;
}

#Presta article{
    display: flex;
    width: 320px;
    align-items: center;
    flex-direction: column;
    background-color: rgb(167, 136, 103);
    border-radius: 25px;
    padding: 15px;
    color: rgb(255, 255, 255);
    text-align: justify;
    border: 5px solid rgb(182, 151, 118);
    margin-bottom: 50px;
}

#Presta article img{
    width: 250px;
    height: 250px;
    object-fit: cover;
     border-radius: 25px;
    border: 5px solid rgb(182, 151, 118);
}

/*#Presta article:nth-child(1){
    background-color: rgb(12, 29, 4
    9,0.5);
}

#Presta article:nth-child(2){
    background-color: rgb(76, 38, 65,0.5);
}

#Presta article:nth-child(3){
    background-color: rgb(14, 80, 81,0.5);
}*/
/*Carousel*/

.carousel {
  position: relative;
  width: 700px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.carousel input {
  display: none;
}

.slides {
  display: flex;
  width: 400%; /* 4 images x 100% */
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  width: 700px;
  height: 500px;
  object-fit: cover;
}

/* Flèches gauche/droite */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.105);
  padding: 10px 15px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 30px;
  user-select: none;
  z-index: 2;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.247);
}

.prev { left: 10px; }
.next { right: 10px; }

/* Déplacement slides selon input */
#slide1:checked ~ .slides { transform: translateX(0); }
#slide2:checked ~ .slides { transform: translateX(-25%); }
#slide3:checked ~ .slides { transform: translateX(-50%); }
#slide4:checked ~ .slides { transform: translateX(-75%); }
#slide5:checked ~ .slides { transform: translateX(-100%); }
#slide6:checked ~ .slides { transform: translateX(-125%); }
#slide7:checked ~ .slides { transform: translateX(-150%); }
#slide8:checked ~ .slides { transform: translateX(-175%); }
#slide9:checked ~ .slides { transform: translateX(-200%); }

/* Afficher les bonnes flèches selon la slide */
#slide1:checked ~ #prev1 { display: block; }
#slide1:checked ~ #next1 { display: block; }

#slide2:checked ~ #prev2 { display: block; }
#slide2:checked ~ #next2 { display: block; }

#slide3:checked ~ #prev3 { display: block; }
#slide3:checked ~ #next3 { display: block; }

#slide4:checked ~ #prev4 { display: block; }
#slide4:checked ~ #next4 { display: block; }

#slide5:checked ~ #prev5 { display: block; }
#slide5:checked ~ #next5 { display: block; }

#slide6:checked ~ #prev6 { display: block; }
#slide6:checked ~ #next6 { display: block; }

#slide7:checked ~ #prev7 { display: block; }
#slide7:checked ~ #next7 { display: block; }

#slide8:checked ~ #prev8 { display: block; }
#slide8:checked ~ #next8 { display: block; }

#slide9:checked ~ #prev9 { display: block; }
#slide9:checked ~ #next9 { display: block; }

/* Masquer toutes les flèches par défaut */
.prev, .next { display: none; }

/*Témoignage*/
#Témoin article{
    display: flex;
    background-color: rgb(184, 152, 118);
    border-radius:15px ;
    flex-direction: column;
    color: rgb(255, 255, 255);
    width: 400px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid rgb(202, 171, 137);
    margin-bottom: 20px;
}

#Témoin img{
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 100%;
    border: 3px solid rgb(255, 255, 255);

}

.client{
    display: flex;
    flex-direction: row;
    margin: 10px;

}

.info p, .info h4{
    margin: 0;
}

.info{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
}

footer{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    margin: 0;
    border-radius: 16px 16px 0px 0px;
    padding: 1%;
}

footer img{
    width: 40px;
    height: 40px;
    object-fit: contain;
}

footer h3{
    font-size: 1.5em;
}

footer .bouton{
    margin: 0%;
    height: fit-content;
    background-color:  #dcb5f4 ;
    border: 2px solid #f0d7f6;
}
footer .bouton:hover{
    background-color:#dcb5f4;
    border: 2px solid #f0d7f6;
}